{%extends 'halls/base2.html'%}
{% block content %}
{%load static %}

<style>
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

h1 {
  text-align: center;
  font-family: 'Roboto Condensed';
  color: white;
}

#main {
  height: 100px;
  width: 1000px;
  margin: auto;
}

#search {
  background-color: white;
  margin: auto;
  font-family: Arial;
  margin-top: 0px;
  opacity: 0.8;
}

.search_bar {
  width: 550px;
  height: 40px;
  border: 0px;
  margin: 0px;
  font-size: 18px;
  padding-left: 10px;
}

.search_submit {
  width: 200px;
  height: 42px;
  margin: 0px;
  border: 0px;
  transition: width .5s, background-color 1s;
  font-size: 18px;
  background-color: lightgreen;
  margin: -4px;
}

.search_submit:hover {
  width: 300px;
  background-color: lightgreen;
}
/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
}
</style>
<div class = "container">
  <section role="main">
    <div class="section-header">
      <h2>{{section_title}}</h2>
    </div>
    <div class ="row">
      <br/>
      <br/>
    </div>

    <div class="container">
  <div class="row">
        <div class="col-12 col-md-8">
          <form action = "{%url 'allchallenges'%}" method = "post">
          {%csrf_token%}
          <div id="main">
            <div id="search">
              <input type="text" placeholder="Enter Anything" class="search_bar" name="KeywordSearch">
              <input type="submit" value="Search" class="search_submit"/>
            </div>
          </div>
          </form>
        </div>
        </div>
</div>
</div>
<br/>
<br/>

<hr/>

    <div class="container">
      <div class="row no-gutters">
    {% for challenge in challenges.all %}
        <div class="col-lg-2 col-md-2">
        <a href = "{%url 'seefiles' challenge.id %}"><h5 class="card-header"> {{ challenge.title }}</h5></a>
        <a href = "{%url 'seechallenges' challenge.hall.id %}"><p><strong>{{challenge.hall.title}}</strong></p></a>
        {%if user.is_employee %}
        <a href="{% url 'add_file' pk=challenge.id  %}"><img src = "{% static 'add-file.png' %}" class='img-responsive' height="25" width="25"></a>
        <!--<a href="{% url 'delete_challenge' challenge.id %}" ><img src = "{% static 'delete.png' %}" class='img-responsive' height="25" width="25"></a>-->
        <a href="{% url 'update_challenge' challenge.id %}"><img src = "{% static 'update.png' %}" class='img-responsive' height="25" width="25"></a>
        {%endif%}
        <br/>

        </div>
        <div class="col-lg-2 col-md-2">
        <div class="card-body">
            {%if user.is_employee%}
            <h5 class="card-title">Publication Date: {{challenge.pub_date}}</h5>
            {%endif%}
            <h5><b> Time Left: {{challenge.get_time_left}} </b></h5>
            <br/>

          </div>
       </div>
       <div class="col-lg-2 col-md-2">
         <div class="container">
           <div class="row">


           </div>
           <div class="top-right">&nbsp &nbsp &nbsp<button type="button" class="label label-success" name="button"><b><u>Rs {{ challenge.stipend}} </u></b></button></div>





          </div>
        </div>

    <!--<div class="container">


        <img class = "card-image-top" src = "{{ category.image.url }}" height = "100" width = "100" class="img-fluid" alt="Responsive image"/>
        <div class="card-body">
        <p class="card-text">{{ category.summary }}</p>


    </div>-->

    {% endfor %}
    </div>
    </div>
  </section>
</div>
{% endblock %}
