{%extends 'halls/base.html'%}
{% block content %}
<div class = "container">
<h2>Are you sure you want to delete this Request</h2>
  <form method="post">
    {% csrf_token %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% load widget_tweaks %}

    {% for field in form %}
    <div class="form-group {% if field.errors %}alert-danger{% endif %}">
      {{ field.errors }}
      {{form.media}}
      {{ field.label_tag }}
      {% render_field field class="form-control" %}
    </div>
    {% endfor %}
  <button type="submit" class="btn btn-danger">Delete</button>
</form>
<br>
</div>
{% endblock %}
