{% extends 'halls/base.html' %}
{% block content %}
<div class = "container" >
  <div class="text-center">
    <h2 class='text-center'>HareKrsna {{ user.username }}</h2>
    <h3>Welcome to GoodGrades E-Dashboard</h3>
    <a href="{% url 'create_hall'%}" class ='btn btn-primary' ">Create New Category of Challenges</a>
  </div>



  <div class="row">
 {% for hall in halls %}

     <div class="col-lg-4 col-sm-6 mb-4" style="margin-top: 2%">
         <div class="card shadow border-0 h-100">
             <div class="card-body">
               {{hall.user}}
                 <h5 class="my-2"><a href="{% url 'seechallenges' hall.id %}">{{ hall.title }}</a></h5>
                 <!--<a href="{% url 'delete_hall' hall.id %}" class ='btn btn-danger' ">Delete</a>-->
                 <a href="{% url 'update_hall' hall.id %}" class ='btn btn-success' ">Update</a>
                 <br/>

             </div>
         </div>
     </div>

{% if forloop.counter|divisibleby:3 %}

</div><!-- close existing row and open another one-->
<div class="row">
{% endif %}
 {% endfor %}
</div>

</div>
{% endblock %}
