{%extends 'halls/base.html'%}
{% block content %}
<div class = "container">
  <section id="portfolio" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h2>Request Challenge</h2>
        <p>Write in brief How you will solve the Challenge in points</p>
      </div>
    </div>
      <hr/>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% load bootstrap4 %}
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
  {% load widget_tweaks %}

  {% for field in form %}
  <div class="form-group {% if field.errors %}alert-danger{% endif %}">
    {{ field.errors }}
    {{form.media}}
    {{ field.label_tag }}
    {% render_field field class="form-control" %}
  </div>
  {% endfor %}

  <button type="submit" class="btn btn-primary">Request</button>
</form>
</section>
</div>


{% endblock %}
