{%extends 'halls/base.html'%}
{% block content %}
{%load static%}
<style>
  body{
    background: linear-gradient(120deg, #BBC8D9, #FEFEFE);
  }
  .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
  }
  .center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
  }
  .pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
  }
  .pass:hover{
    text-decoration: underline;
  }
  button{
    width: 100%;
    height: 50px;
    float: right;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none
  }
  button:hover{
    border-color: #2691d9;
    transition: .5s;
  }
  .center form{
    padding: 0 40px;
    box-sizing: border-box;
  }
  ul {
  list-style: none;
  margin: 0px;
  padding-top: 31px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
}

  ul li{
    display: inline;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 14px;
 font-weight: bold;
 color: #4e2d17;
 padding: 0px;
 margin: 0px;
  }

</style>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      </div>
    <div class="col-md-6">
  <h2>Sign Up</h2>
  <form method="post">
    {% csrf_token %}
    {% if form.non_field_errors %}<div class="alert alert-danger">{{form.non_field_errors}}</div>{% endif %}
    {% load widget_tweaks %}

    {% for field in form %}
    <div class="form-group {% if field.errors %}alert-danger{% endif %}">
      {{ field.errors }}
      {{ field.label_tag }}
      {% render_field field class="form-control" %}
      {% if field.help_text %}<small class="text-muted">{{ field.help_text|safe }}</small>{% endif %}
    </div>
    {% endfor %}
    <br/>
    <button type="Submit" class="btn btn-success" >Sign Up</button>
    <br/>
    <br/>
  </form>
  </div>
  </div>
  <div class="col-md-3">
    </div>
</div>
{% endblock %}
